/*** Table ***/
.product-table {
  border: 1px solid navy;
  border-collapse: collapse;
}

.product-table tr:nth-child(2n +1) {
  background-color: lightcyan;
}

.product-table tr:hover {
  background-color: lightgoldenrodyellow;
}

.product-table th {
  min-width: 5rem;
  background-color: navy;
  color: snow;
}

.product-table th, .product-table td {
  padding: 0.5rem;
}

/*** Form ***/
.product-form {
  text-align: start;
}

.product-form div {
  margin-bottom: 0.1rem;
}

.product-form label::after{
  content: ':';
  margin-left: 0.5ch;
  margin-right: 0.5ch;
}