.weather-title {
  font-size: 2.5rem;
  margin: 0;
}

.weather-result {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style: none;
  height: 18rem;
}

.weather-item {
  width: 10rem;
  border: 1px solid black;
}

.weather-day {
  background-color: #ffe96d;
  color: black;
}

.weather-night {
  background-color: dimgray;
  color: snow;
}